:root{
    --brand-blue-color: #2196F3;
    --brand-black-color:#212121;
    --brand-grey-color: #757575;
    --background-page:#ffffff;;
    --brand-white-color:#ffffff;
    --background-button-grey: #F5F4FA;
    --background-darkgrey:#2F303A;


    
    }
    body{
        color:var(--brand-black-color);
        background-color: var(--background-page);
    }

    /*Стили для index.html*/
    /*Header*/
    .logo-page-web{
        color: var(--brand-blue-color);
    }
    .logo-page-studio{
        color: #000000;
    }
    .site-nav .link{
        color: var(--brand-black-color);

    }
    .site-nav .link.current{
        color: var(--brand-blue-color);

    }
     .site-nav .link:hover,
     .site-nav .link:focus{
         color: var(--brand-blue-color);
     }
     .contact-nav .link{
        color: var(--brand-grey-color);
     }
     .contact-nav .link:hover,
     .contact-nav .link:focus{
         color: var(--brand-blue-color);
     }

     /*main*/
     .section-main-title{
         background-color: var(--background-darkgrey);
     }
     .main-title{
         color: var(--brand-white-color);
         text-transform:uppercase;
     }
    .button{
        background-color: var(--brand-blue-color);
        color:var(--brand-white-color);
    }
   
    .subtitle .features{
        color: var(--brand-black-color);
        text-transform:uppercase;
    }
    .subtitle .features-desc{
        color: var(--brand-grey-color);
    }
    .title-activity{
        color: var(--brand-black-color);
    }
   .section-team{
       background-color: var(--background-button-grey);
   }
   .section-team .title{
       color: var(--brand-black-color);
   }
   .section-team .name{
       color: var(--brand-black-color);
   }
   .section-team .job{
       color: var(--brand-grey-color);
   }
   /*footer*/
   footer{
       background-color: var(--background-darkgrey);
   }
   .adress{
       color: var(--brand-white-color);
   }
   .footer .contact{
       color: rgba(255, 255, 255, .6);
    }
 